@{
    ViewData["Title"] = "String Encrytion Decryption";
}

<h1>RSA String  Encrytion Decryption</h1>
<div class="text-center">
   <p>
       Text is:
     <br/>  @ViewBag.S
   </p>
   <br/>
    <p>
      1st Encrypted  Text is:
        <br />
        @ViewBag.S1
    </p>
    <br />
    <p>
        2nd Encrypted  Text is:
        <br />
        @ViewBag.S3
    </p>
    <br />
    <p>
        Decrypted  Text is:
        <br />
        @ViewBag.S2
    </p>
    <br />
    <p>
        Is encrypted text same:
        <br />
        @ViewBag.S4
    </p>
    <br />
</div>
